@font-face {
  font-family: Inter;
  src: url(https://fonts.google.com/specimen/Inter);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#card-background,
#img-background,
#quote-background {
  position: absolute;
  /* z-index: -1; */
}

#card-slider {
  z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: Inter;
  /* background-color: white; */
  border: 10px dashed red;
  width: 800px;
  height: 80vh;
}

.card > svg {
  /* position: relative; */
  align-self: flex-end;
  /* justify-self: flex-end; */
  justify-content: left;
  transform: translate(-46px);
}
.card-header {
  display: block;
  border: 10px dashed blue;
}

.card-header img {
  width: 300px;
  height: 300px;
  border: 10px dashed orange;
}

.card-body {
  display: flex;
  flex-direction: column;
  border: 10px dashed yellow;
}

.card-text {
  font-weight: 700;
  border: 10px dashed green;
}

.card-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border: 10px dashed purple;
}
.card-text {
  color: hsl(240, 38%, 20%);
}
.card-author strong {
  color: hsl(240, 38%, 20%);
  font-weight: 500;
}

.card-author small {
  color: hsl(240, 18%, 77%);
  font-weight: 300;
}

@media screen and (max-width: 375px) {
  body {
    background-color: orange;
  }

  .card {
    flex-direction: column;
  }

  .card-header {
    display: block;
  }

  .card-author {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
