@use "sass:list";
@use "sass:meta";
@use "sass:string";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@mixin css($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

@mixin center {
  position: relative;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Gradient
$gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

// Neutral Colors
$blue: (
  "pale": hsl(243, 100%, 93%),
  "grayish": hsl(229, 7%, 55%),
  "dark": hsl(228, 56%, 26%),
  "very-dark": hsl(229, 57%, 11%),
);

@function blue($tone: "pale") {
  @return map-get($blue, $tone);
}

// Font
$font-size: 14px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: grid;
  grid-template-columns: 350px 1fr;
  grid-column-gap: 30px;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  padding-left: 250px;

  background-color: blue("very-dark");
  background-image: url("images/bg-desktop.png");
  background-position: bottom;
  background-repeat: no-repeat;
  //   background-attachment: local;

  font-size: $font-size;
  font-family: Raleway;

  // Header
  header {
    @include css(border-radius, 5px);
    @include css(border-top-right-radius, 80px);
    @include center;
    background-color: blue("dark");
    width: 350px;
    height: 200px;
    padding: 40px;
    // Icons
    $icons: "document", "folder", "upload";

    .icons-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      grid-gap: 15px;
      align-items: center;

      margin-top: 15px;
    }

    .icon-container {
      @include css(border-radius, 5px);

      background-color: blue("very-dark");
      width: 50px;
      height: 50px;
    }

    .icon {
      @include center;
      width: 25px;
      height: 25px;
    }
  }

  // Main Content
  $percentage: 85%;

  main {
    width: 540px;
    @include center();
    margin-left: 0;
    // background-color: blue("dark");

    // Storage Graphic
    .storage-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      width: inherit;
      height: 150px;
      padding: 35px;
      color: blue("pale");
      font-weight: 400;
      background-color: blue("dark");

      @include css(border-radius, 7.5px);

      strong {
        font-weight: 700;
      }

      small {
        color: blue("greyish");
      }
      .storage-popup {
        display: none;
      }

      .storage-graphic {
        padding-top: 20px;
        width: 100%;
        height: auto;

        #graph-background {
          @include css(border-radius, 7.5px);
          background: blue("very-dark");
          height: 15px;

          #graph-fill {
            @include css(border-radius, 7.5px);

            width: $percentage;
            height: 100%;
            background: $gradient;
            overflow: hidden;
            border: 2px solid blue("very-dark");

            #graph-endpoint {
              @include center();
              @include css(border-radius, 50%);

              margin: unset;
              margin-right: 2px;
              float: right;
              height: 80%;
              width: 10px;
              background-color: white;
            }
          }
        }

        .graphic-text {
          height: auto;
          width: 100%;
          padding-top: 10px;
          content: "";
          .left {
            float: left;
          }

          .right {
            float: right;
          }
        }
      }
    }
  }
  // Footer and Attributation
  footer {
    color: white;
    padding-top: 10px;
    display: inline-block;
    @include center();
    .attribution {
      font-size: 11px;
      text-align: center;
    }
    .attribution a {
      text-decoration: none;
      color: blue("pale");
    }
  }
}

@media (max-width: 375px) {
  body {
    background-image: url("images/bg-mobile.png");
    background-size: cover;
    // background-repeat: no-repeat;
    padding: 0;
    grid-template-columns: 1fr;
    grid-row: repeat(3, 1fr);
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;

    header {
      width: 350px;
    }

    main {
      @include center();
      width: 350px;
    }
  }
}
