@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --green: hsl(154, 59%, 51%);
  --red: hsl(0, 100%, 74%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("images/bg-intro-desktop.png");
  background-color: var(--red);
  border: 10px solid yellow;
}

.showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* margin: 5rem; */
  /* height: 100%; */
  /* width: 100%; */
  border: 10px solid purple;
}

header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white; */
  flex: 1;
  line-height: 1.2;
  color: white;
}

header > h1 {
  font-weight: 700;
  width: 300px;
}

header > h2 {
  font-weight: 400;
  /* width: 500px; */
  line-height: 1.5;
}

.sign-up__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 600px;
  margin: 10px;
  /* margin: 10px; */
  /* width: 100%; */
  /* width: 50%; */
  border: 10px solid black;
}

.sign-up__form {
  background-color: white;
  border-radius: 5px;
  margin: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100%; */
  width: 540px;
}

form input[type="text"] {
  width: 90%;
  margin: 10px;
  border: 1px solid var(--grayish-blue);
  color: orange;
  /* height: 30%; */
  border-radius: 5px;
  height: 3rem;
  padding: 20px;
  /* margin: auto; */
}

.btn {
  /* max-width: 305px;
  height: 30px; */
  color: white;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  /* justify-self: right; */
}

.btn-blue {
  background-color: var(--blue);
}

.btn-green {
  background-color: var(--green);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
