@import url(https://fonts.google.com/specimen/Manrope);

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(212, 23%, 69%);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(210, 46%, 95%);
  font-family: Manrope;
  font-size: 13px;
  height: 100vh;
  margin: 0;
}

.article-container {
  display: flex;
  flex-direction: row;
  border: 1px dashed blue;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 5rem;
  width: 640px;
  overflow: hidden;
}

.article-container > img {
  width: 40%;
  object-fit: cover;
  /* border: 1px dashed red; */
}

.article-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 5;
  padding: 1rem;

  border: 1px dashed yellow;
}

.article-text {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  margin-right: 1rem;
  border: 1px dashed purple;
}

.article-text h1 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.article-text p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

.article-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed green;
}

.author-info {
  display: flex;
  align-items: center;
  border: 1px dashed black;
}

.author-info > img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-left: 1rem; */
}

.share {
  background-color: hsl(210, 46%, 95%);
  border: 5px solid hsl(210, 46%, 95%);
  border-radius: 50%;

  fill: hsl(217, 19%, 35%);
}

.share:hover,
.share > svg > path:hover {
  background-color: hsl(214, 17%, 51%);
  border: 5px solid hsl(214, 17%, 51%);
  border-radius: 50%;

  fill: hsl(210, 46%, 95%);
}
.popup-container {
  position: relative;
  visibility: collapse;
  background-color: hsl(217, 19%, 35%);
  visibility: hidden;
  border-radius: 10px;
  color: hsl(214, 17%, 51%);
}
